@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url(https://fonts.gstatic.com/s/robotocondensed/v16/mg0cGfGRUERshzBlvqxeAC3VbM7y4EFaTxVh0YhgPqI.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url(https://fonts.gstatic.com/s/robotocondensed/v16/BP5K8ZAJv9qEbmuFp8RpJVOLfVh0dR5c9lmq4dj7BPI.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v16/b9QBgL0iMZfDSpmcXcE8nAhf7DuFEVOsWNFtEC6SVds.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v16/Zd2E9abXLFGSr9G3YK2MsBz0dNVQi7XqpmlL2zM1TQo.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v16/b9QBgL0iMZfDSpmcXcE8nJHhTLYlyo8_IXFfgFJ5wAg.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
